In [1]:
even = [2,4,6,8]
odd = [1,3,5,7,9]

print(min(even))
print(max(even))
print(min(odd))
print(max(odd))
print('-----')
print(len(even))
print(len(odd))

2
8
1
9
-----
4
5

In [2]:
print("mississippi".count("s"))

4

In [8]:
data = [
    "Andromeda - Shrub",
    "Bellflower - Flower",
    "China Pink - Flower",
    "Daffodil - Flower",
    "Evening Primrose - Flower",
    "French Marigold - Flower",
    "Hydrangea - Shrub",
    "Iris - Flower",
    "Japanese Camellia - Shrub",
    "Lavender - Shrub",
    "Lilac - Shrub",
    "Magnolia - Shrub",
    "Peony - Shrub",
    "Queen Anne's Lace - Flower",
    "Red Hot Poker - Flower",
    "Snapdragon - Flower",
    "Sunflower - Flower",
    "Tiger Lily - Flower",
    "Witch Hazel - Shrub",
]
flowers = []
shrub = []
for num,plant in enumerate(data) :
    if "Flower" in plant :
        flowers.append(plant)
    elif "Shrub" in plant :
        shrub.append(plant)
print("{0} - {1}".format(num+1, flowers))
print(shrub)

19 - ['Bellflower - Flower', 'China Pink - Flower', 'Daffodil - Flower', 'Evening Primrose - Flower', 'French Marigold - Flower', 'Iris - Flower', "Queen Anne's Lace - Flower", 'Red Hot Poker - Flower', 'Snapdragon - Flower', 'Sunflower - Flower', 'Tiger Lily - Flower']
['Andromeda - Shrub', 'Hydrangea - Shrub', 'Japanese Camellia - Shrub', 'Lavender - Shrub', 'Lilac - Shrub', 'Magnolia - Shrub', 'Peony - Shrub', 'Witch Hazel - Shrub']

sort() and sorted() functions : 
sort() will modify the list it is called on where as sorted() creates a new list containing the the sorted version of the list.

In [17]:
even = [2,4,6,8]
odd = [1,3,5,7,9]
even.extend(odd)
print(even)
complete_even = even
print(complete_even)
even.sort(reverse=True)
print(even)
print(complete_even)

[2, 4, 6, 8, 1, 3, 5, 7, 9]
[2, 4, 6, 8, 1, 3, 5, 7, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [29]:
pangram = 'The quick brown frog jumps over the lazy dog'
letter = sorted(pangram)
print(letter)
numbers=[2.3,4.5,8.7,3.1,9.2,1.6]
sorted_numbers = sorted(numbers)
print(sorted_numbers)
print(numbers)
print('---------')
another_number = numbers.sort()
print(numbers)
print(another_number)
print('--------')
missing_letters = sorted('The quick brown frog jumped over the lazy dog', key=str.casefold)
print(missing_letters)
print('----------')
names = ['Graham', 'John', 'terry', 'eric', 'Terry', 'michael']
names.sort(key = str.casefold)
print(names)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'T', 'a', 'b', 'c', 'd', 'e', 'e', 'e', 'f', 'g', 'g', 'h', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'o', 'o', 'o', 'p', 'q', 'r', 'r', 'r', 's', 't', 'u', 'u', 'v', 'w', 'y', 'z']
[1.6, 2.3, 3.1, 4.5, 8.7, 9.2]
[2.3, 4.5, 8.7, 3.1, 9.2, 1.6]
---------
[1.6, 2.3, 3.1, 4.5, 8.7, 9.2]
None
--------
[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'a', 'b', 'c', 'd', 'd', 'e', 'e', 'e', 'e', 'f', 'g', 'g', 'h', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'o', 'o', 'o', 'p', 'q', 'r', 'r', 'r', 'T', 't', 'u', 'u', 'v', 'w', 'y', 'z']
----------
['eric', 'Graham', 'John', 'michael', 'terry', 'Terry']

In [10]:
empty_list = []
even = [2,4,6,8]
odd = [1,3,5,7,9]
numbers = even + odd
print(numbers)
sorted_numbers = sorted(numbers)
print(sorted_numbers)
print('----------')
digits = sorted('432985617')
print(digits)
print('----------')
digit = list('432985617')
print(digit)
print('----------')
#more_numbers = list(numbers)
more_numbers = numbers[:]
print(more_numbers)
print(numbers is more_numbers)
print(numbers == more_numbers)

[2, 4, 6, 8, 1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
----------
['1', '2', '3', '4', '5', '6', '7', '8', '9']
----------
['4', '3', '2', '9', '8', '5', '6', '1', '7']
----------
[2, 4, 6, 8, 1, 3, 5, 7, 9]
False
True

COPY LIST

In [14]:
number = even + odd
print(numbers)
more_numbers = numbers.copy()
print(more_numbers)
print(more_numbers is numbers)
print(more_numbers == numbers)

[2, 4, 6, 8, 1, 3, 5, 7, 9]
[2, 4, 6, 8, 1, 3, 5, 7, 9]
False
True

In [18]:
computer_parts = ['computer', 'monitor', 'keyboard', 'mouse', 'mouse pad']
print(computer_parts)
# computer_parts[3] = 'trackpad'
# print(computer_parts)
(computer_parts[3:]) = ['trackpad']
print(computer_parts)

['computer', 'monitor', 'keyboard', 'mouse', 'mouse pad']
['computer', 'monitor', 'keyboard', 'trackpad']

DELETING AN ITEM FROM THE LIST

In [6]:
data = [4,5,104,105,110,120,130,150,213,234,2345,1234,3200,3454]
min_valid = 100
max_valid = 300

stop = 0
for index, value in enumerate(data) :
    if value >= min_valid :
        stop = index
        break
print(stop)
del data[:stop]
print(data)

start = 0
for index in range(len(data) -1,-1,-1) :
    if data[index] <= max_valid :
        start = index + 1
        break

print(start)
del data[start:]
print(data)

2
[104, 105, 110, 120, 130, 150, 213, 234, 2345, 1234, 3200, 3454]
8
[104, 105, 110, 120, 130, 150, 213, 234]

BACKWARDS

In [10]:
data = [4,5,104,105,110,120,130,150,213,234,2345,1234,3200,3454]
min_valid = 10
max_valid = 100
for index in range(len(data)-1,-1,-1) :
    if data[index]<= min_valid or data[index]>=max_valid :
        print(index,data)
        del data[index]
print(data,len(data))

for index, value in enumerate(reversed(data)) :
    print(index, value)

print(data)

13 [4, 5, 104, 105, 110, 120, 130, 150, 213, 234, 2345, 1234, 3200, 3454]
12 [4, 5, 104, 105, 110, 120, 130, 150, 213, 234, 2345, 1234, 3200]
11 [4, 5, 104, 105, 110, 120, 130, 150, 213, 234, 2345, 1234]
10 [4, 5, 104, 105, 110, 120, 130, 150, 213, 234, 2345]
9 [4, 5, 104, 105, 110, 120, 130, 150, 213, 234]
8 [4, 5, 104, 105, 110, 120, 130, 150, 213]
7 [4, 5, 104, 105, 110, 120, 130, 150]
6 [4, 5, 104, 105, 110, 120, 130]
5 [4, 5, 104, 105, 110, 120]
4 [4, 5, 104, 105, 110]
3 [4, 5, 104, 105]
2 [4, 5, 104]
1 [4, 5]
0 [4]
[] 0

In [5]:
data = [4,5,104,105,110,120,130,150,213,234,2345,1234,3200,3454]
min_valid = 10
max_valid = 200
top_index = len(data) -1 
for index,value in enumerate(reversed(data)) :
    if value<min_valid or value>max_valid :
        print(top_index-index, value)
        del data[top_index-index]
print(data)

13 3454
12 3200
11 1234
10 2345
9 234
8 213
1 5
0 4
[104, 105, 110, 120, 130, 150]

In [9]:
max_value = 100
data_list = list(range(max_value))
print(data_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

NESTED LIST

In [10]:
empty_list = []
even = [2,4,6,8]
odd = [1,3,5,7,9]
numbers = [even, odd]
print(numbers)
for number_list in numbers :
    print(number_list)
    for value in number_list :
        print(value)

[[2, 4, 6, 8], [1, 3, 5, 7, 9]]
[2, 4, 6, 8]
2
4
6
8
[1, 3, 5, 7, 9]
1
3
5
7
9

In [13]:
menu = [
    ["egg", "bacon"],
    ["egg", "sausage", "bacon"],
    ["egg", "spam"],
    ["egg", "bacon", "spam"],
    ["spam", "spam", "spamegg"],
]
for item in menu :
    if 'spam' in item :
       del item
    else :
        print(item)

['egg', 'bacon']
['egg', 'sausage', 'bacon']

PRINT FUNCTION

In [ ]:
name = 'Nithin'
age = 30
print(name,age,"Python",2023)